.heading{
    height :40px;
    background-color: dodgerblue;
    color: aliceblue;
    padding: 10px;
}
.formData{
    margin-left: 20px;                                                         
    height:300px;
    padding: 10px;
}
.btn{
    background-color: dodgerblue;
    color: aliceblue;
}
.border{
    border: 2px solid;
    height: 400px;
}
